:root {
--primary-background-color: #e5e6ff;
--button-bckg-color: #054f24;
--item-bckg-color: #a5b4ff;
--btn-color: #ffffff;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    background-color: var(--primary-background-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;

    /* text-align: center; */
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
}

.list {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.link {
    
    text-decoration: none;
    
}

.section {
    padding-top: 70px;
}

.btn {
    display: block;
    text-align: center;

    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;

    width: 195px;
    height: 70px;

    font-size: 26px;
    line-height: 1.2;


    background-color: var(--button-bckg-color);
    color: var(--btn-color);
    border-radius: 25px;
    border: 3px solid var(--btn-color);
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 350ms cubic-bezier(0.4, 0, 0.2, 1), border 450ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn.buy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover,
.btn:focus {
    background-color: var(--btn-color);
    color: var(--button-bckg-color);
    border: 3px solid var(--button-bckg-color);
}

.flex-container-hero {
    display: flex;
}

.box-pic {
    text-align: center;
}
.box-pic-img {
    display: inline-block;
}


.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    text-align: center;

    margin-top: 20px;
}
.item {
    display: flex;
    align-items: center;

    padding: 5px 5px;

    width: 230px;
    height: 230px;

    background-color: var(--item-bckg-color);
    border-radius: 50%;
        
}
.item:not(:last-child) {
    margin-right: 5px;
}

.flex-what-is-waiting-for-you {
    display: flex;
}

.box-what-is-waiting-for-you {
    width: calc(100%/3);

}

.box-what-is-waiting-for-you:not(:last-child) {
    margin-right: 10px;
}

.title-box-what-is-waiting-for-you {
    height: 55px;

    background-color: #ffffff;
}

.secondary-text {
    margin-top: 15px;

    font-family: 'Alegreya', serif;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    text-align: center;
}

.flex-list-our-mission {
    display: flex;
    justify-content: center;

    text-align: center;

    margin-top: 30px;

}


.item-our-mission:not(:last-child) {
    margin-right: 30px;
}

.img-our-mission {
    width: 360px;
    height: 360px;

    border-radius: 50%;
}

.section-our-products {
    padding-bottom: 50px;
}