:root {
--primary-background-color: #e5e6ff;
--button-bckg-color: #054f24;
--item-bckg-color: #a5b4ff;
--btn-color: #ffffff;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    background-color: var(--primary-background-color);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;

}

.title {
    margin-bottom: 8px;
    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
}

.list {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.link {
    
    text-decoration: none;
    
}

.section {
    padding-top: 50px;
}

.btn {
    display: block;
    text-align: center;

    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

    width: 195px;
    height: 70px;

    font-size: 26px;
    line-height: 1.2;


    background-color: var(--button-bckg-color);
    color: var(--btn-color);
    border-radius: 15px;
    border: 3px solid var(--btn-color);;
    
}

.btn.buy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container-hero {
    display: flex;
}

.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    text-align: center;

    margin-top: 30px;
}
.item {
    display: flex;
    justify-content: center;

    padding: 5px 15px;

    max-width: 200px;
    background-color: var(--item-bckg-color);

    border-radius: 15px;
}
.item:not(:last-child) {
    margin-right: 35px;
}

.secondary-text {
    font-family: 'Alegreya', serif;
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.flex-list-our-mission {
    display: flex;
    justify-content: center;

    text-align: center;

    margin-top: 30px;

}


.item-our-mission:not(:last-child) {
    margin-right: 20px;
}

.img-our-mission {
    border-radius: 50%;
}

.section-our-products {
    padding-bottom: 50px;
}