:root {
--primary-background-color: #FBEEE6;
--primary-text-color: #2C3531;
--button-bckg-color: #2C3531;
--item-bckg-color: #D9B08C;
--btn-color: #FBEEE6 ;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.11;

    text-align: center;
}

.list {
    margin: 0;
    padding-left: 0;

    list-style: none;
}

.link {
    
    text-decoration: none;
    
}

.section {
    padding-top: 100px;
}

.header-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: block;
    text-align: center;

    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;

    width: 200px;
    height: 70px;

    font-size: 26px;
    line-height: 1.2;


    background-color: var(--button-bckg-color);
    color: var(--btn-color);
    border-radius: 15px;
    border: 2px solid var(--btn-color);
    
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 350ms cubic-bezier(0.4, 0, 0.2, 1), border 350ms cubic-bezier(0.4, 0, 0.2, 1), 
    box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);

    animation: animate105 3500ms infinite 500ms;
}

@keyframes animate105 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.btn.buy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover,
.btn:focus {
    background-color: var(--btn-color);
    color: var(--button-bckg-color);
    border: 2px solid var(--button-bckg-color);
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
            animation-play-state: paused;
}

.section-hero {
    padding-top: 15px;
}

.flex-container-hero {
    display: flex;
}

.hero-title {
    margin-top: 15px;
}

.hero-text-align, .hero-text-align.secondary-text {
    text-align: start;
}

.hero-title-seven-steps {
    margin: 0;
}


.box-pic {
    text-align: center;
}
.box-pic-img {
    display: inline-block;
}


.flex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    text-align: center;

    margin-top: 20px;
}
.item {
    display: flex;
    align-items: center;

    padding: 5px 5px;

    width: 230px;
    height: 230px;

    font-size: 16px;

    background-color: var(--item-bckg-color);
    border-radius: 50%;
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072),
            0 41.8px 33.4px rgba(0, 0, 0, 0.086),
            0 100px 80px rgba(0, 0, 0, 0.12);
}

.title-all-changes {
    margin-top: 50px;
}

.flex-what-is-waiting-for-you {
    display: flex;

    margin-top: 25px;
}

.box-what-is-waiting-for-you, .item-our-mission {
    width: calc(100%/3);

}

.box-what-is-waiting-for-you:not(:last-child) {
    margin-right: 5px;
}

.title-box-what-is-waiting-for-you {
    margin-bottom: 25px;
    padding: 5px;

    height: 60px;

    background-color: var(--item-bckg-color);
    border-radius: 15px;
}

.title-what-is-waiting-for-you, .third-text, .secondary-text.reviews-text {
    font-size: 20px;
}

.secondary-text {
    margin-top: 25px;

    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 1.2;

    text-align: center;
}

.accent-text {
    padding: 1px;

    font-weight: 600;
    font-style: italic;

    background-color: var(--primary-background-color);
    border-radius: 5px;
}


.flex-list-our-mission {
    display: flex;
    justify-content: center;

    text-align: center;

    margin-top: 30px;

}

.title-our-products, .title-reviews {
    margin-bottom: 25px;
}

.text-our-mission {
    margin-top: 50px;
}


.img-our-mission {
    margin-bottom: 15px;

    display: inline-block;
    width: 300px;
    height: 300px;

    border-radius: 50%;
}


.our-mission-name {
    margin-bottom: 20px;
    font-size: 26px;
}

.our-mission-contact {
    display: block;
        text-align: center;
    
        margin-top: 15px;
        margin-right: auto;
        margin-left: auto;
    
        width: 200px;
        height: 30px;
    
        font-size: 20px;
    
        background-color: var(--button-bckg-color);
        color: var(--btn-color);
        border-radius: 15px;
        border: 2px solid var(--btn-color);
    
        transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
            color 350ms cubic-bezier(0.4, 0, 0.2, 1), border 350ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-mission-contact:hover,
.our-mission-contact:focus,
.our-products-telegram:hover,
.our-products-telegram:focus {
    background-color: var(--btn-color);
    color: var(--button-bckg-color);
    border: 2px solid var(--button-bckg-color);
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.section-our-products {
    padding-bottom: 50px;
}

.our-products-telegram {
    display: block;
        text-align: center;
        margin-top: 5px;

        width: 300px;
        height: 35px;
    
        font-size: 24px;
    
        background-color: var(--button-bckg-color);
        color: var(--btn-color);
        border-radius: 15px;
        border: 2px solid var(--btn-color);
    
        transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
            color 350ms cubic-bezier(0.4, 0, 0.2, 1), border 350ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 350ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* ОТЗЫВЫ */

/* .container-reviews-text {
    
    background-color: var(--item-bckg-color);
    border-radius: 15px;
} */

.list-reviews {
    text-align: center;
}

.name-reviews {
    font-size: 28px;
}


/*СЛАЙДЕР*/

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
    align-items: flex-start;
}

.slick-dots {
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slick-dots li {
    list-style: none;
}

.slick-dots li:not(:last-child) {
    margin-right: 18px;
}

.slick-dots li button {
    width: 15px;
    height: 15px;

    margin-top: 30px;
    padding: 0;

    font-size: 0;

    background-color: var(--item-bckg-color);
    border-radius: 50%;
    border: 0;
}

.slick-dots li.slick-active button {
    background-color: var(--button-bckg-color);
}